/*styling for the body*/
body {
  background: #151515;
  padding: 0px 3rem 0px;
  margin: 0;
  font-family: 'DM Serif Display', serif;
}

/*styling for everything related to the header*/
.container {
padding-top: 2rem;
margin-bottom: 20rem;
}

/*any changes related to the logo down below*/
.logo a {
float: left;
font-size: 3.5rem;
font-family: 'DM Serif Display', serif;
font-style: italic;
color: white;
text-decoration: none;
}

/*for linked in social link in navbar*/
.linked-in {
float: right;
}
.linked-in a:hover {
opacity: 20%;
}
.github {
float: right;
padding-right: 2rem;
}
.github a:hover {
opacity: 20%;
}
.instagram {
float: right;
padding-right: 2rem;
}
.instagram a:hover {
opacity: 20%;
}
.mail {
float: right;
padding-right: 2rem;
}
.mail a:hover {
opacity: 20%;
}

/*everything related to the text in the middle of the screen - Mikkel Lau, Multimediadesign student and Portfolio txt*/
.name {
font-size: 5rem;
color: white;
margin-left: 20rem;
margin-right: auto;
margin-top: 20rem;
font-family: 'Montserrat', sans-serif;
}
.txt {
color: white;
margin-left: 20rem;
margin-right: auto;
text-decoration: underline dotted 0.3rem #ff4d5a;
}
.portfolio-txt {
color: #ff4d5a;
font-size: 7rem;
float: left;
transform: rotate(-90deg);
margin-top: -7rem;
}

/*everything related to the mouse scroll animation - from Ariba Madakia https://codepen.io/frontendcharm/pen/yLzdWaV 12-05-2022*/
.grid {
display: grid;
place-items: center;
height: 45rem;
margin-right: 30rem;
}

.scroll-downs {
width: 34px;
height: 55px;
}

.mouse {
width: 3px;
padding: 10px 15px;
height: 35px;
border: 1.5px solid #fff;
border-radius: 5rem;
box-sizing: content-box;
}

.scroller {
width: 0.2rem;
height: 1rem;
border-radius: 25%;
background-color: #fff;
animation-name: scroll;
animation-duration: 2s;
animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
animation-iteration-count: infinite;
}

@keyframes scroll {
0% {
  opacity: 0;
}

10% {
  transform: translateY(0);
  opacity: 1;
}

100% {
  transform: translateY(15px);
  opacity: 0;
}
}

/*below is everything related to the section with my work*/
.my-work {

}